.AddButton {
  width: 146px;
  height: 45px;
  border: 2px solid #FFFFFF;
  background-image: url(../../images/Add.svg);
  background-position: center;
  background-repeat: no-repeat;
}
  
.AddButton:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .AddButton {
    margin-top: 37px;
    margin-left: 209px;
  }
}

@media screen and (max-width: 768px) {
  .AddButton {
    width: 278px;
    height: 47px;
    margin-left: 0px;
    background-size: 16px 16px;
  }
}