.ProfileInfo__EditButton {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/EditButton.png);
  background-position: center;
  background-repeat: no-repeat;
}

.ProfileInfo__EditButton:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .ProfileInfo__EditButton {
    width: 16px;
    height: 16px;
    background-size: 50% 50%;
  }
}